mixin navbar
    nav(role="navigation").transparent.z-depth-0
        .nav-wrapper.container
            a(href="#").brand-logo#logo-container Fabian Shallari
            a(href="#", data-activates="nav-slide").button-collapse
                i#hamburger-menu.material-icons menu
            ul.right.hide-on-med-and-down
                li: a(href="#").waves-effect.waves-light.uppercase Work
                        i.material-icons.md-18.left.md-light code
                li: a(href="#").waves-effect.waves-light.uppercase Blog
                        i.material-icons.left.md-light mode_edit
                li: a(href="#").waves-effect.waves-light.uppercase About
                        i.material-icons.left.md-light person
                li: a(href="#").waves-effect.waves-light.uppercase Contact
                        i.material-icons.left.md-light email
            ul#nav-slide.side-nav
                li: a(href="#").waves-effect.waves-teal.uppercase Work
                        i.material-icons.left.md-light code
                li: a(href="#").waves-effect.waves-teal.uppercase Blog
                        i.material-icons.left.md-light mode_edit
                li: a(href="#").waves-effect.waves-teal.uppercase About
                        i.material-icons.left.md-light person
                li: a(href="#").waves-effect.waves-teal.uppercase Contact
                        i.material-icons.left.md-light email