extends _layouts/site.pug

block title
    title= "Fabian Shallari - XD"

block header
    .font-light.level-1
        | Nothing Here

block content
    .card-panel
        .blog-post.center-align
            .blog-body
                | You've reached a dead end