extends _layouts/site.pug

block title
    - var page_title = "Fabian Shallari - About"
    title= page_title

append vars
    - var header =  "Hello! I am Fabian, these are my interests and hobbies"
    - var current_page = 'about'

append head
    +social_meta_tags(page_title, header, site.data.global.domain + '/images/about/bike_ride.jpg')

block header
    .font-light.level-1
        = header

block content
    .card-panel
        .blog-post.about-me
            .blog-body
                != page.content