extends _layouts/site.pug

append vars
    - var current_page = 'about'

block title
    title= "Fabian Shallari - About"

block header
    .font-light.level-1
        | Hello! I am Fabian, these are my interests and some of my
        | favorite things to read

block content
    .card-panel
        .blog-post.about-me
            .blog-body
                != page.content