extends _layouts/site.pug

append vars
    - var title = 'Fabian Shallari - About'
    - var header =  "Hello! I am Fabian, these are my interests and some of my favorite things to read"
    - var current_page = 'about'

append head
    - console.log(site.data.global)
    +social_meta_tags(title, header, site.data.global.domain + '/images/about/bike_ride.jpg')

block title
    title= title

block header
    .font-light.level-1
        = header

block content
    .card-panel
        .blog-post.about-me
            .blog-body
                != page.content