extends _layouts/site.pug

block title
    - var page_title = 'Fabian Shallari - Blog'
    title= page_title

append vars
    - var current_page = 'blog'
    - var header = "Hello! I am Fabian, this is where I keep a collection of my thoughts"

append head
    +social_meta_tags(page_title, header, site.data.global.domain + '/images/index/home-cover-mobile.jpg')

block header
    .font-light.level-1
        = header

block content
    // posts
    each post in page.posts.data
        +post_preview(post)
    // pagination
    .center-align
        +pagination(page)