extends _layouts/site.pug

block title
    title= 'Fabian Shallari - Blog'

append vars
    - var current_page = 'blog'

block header
    .font-light.level-1
        | Hello! I am Fabian, this is where I keep a collection of my thoughts

block content
    // posts
    each post in page.posts.data
        +post_preview(post)
    // pagination
    .center-align
        +pagination(page)