extends _layouts/site.pug

append vars
    - var title = 'Fabian Shallari - Blog'
    - var current_page = 'blog'
    - var header = "Hello! I am Fabian, this is where I keep a collection of my thoughts"

block title
    title= title

append head
    +social_meta_tags(title, header, site.data.global.domain + '/images/index/home-cover-mobile.jpg')

block header
    .font-light.level-1
        = header

block content
    // posts
    each post in page.posts.data
        +post_preview(post)
    // pagination
    .center-align
        +pagination(page)