extends includes/base.pug

block title
    title= 'Fabian Shallari'

block body
    +fab
    //Intro
    +cover
    // Projects
    each project in site.data.index.projects
        +project_showcase(project)
    // Contact
    +contact

append scripts
    script(src="/js/index.js")