extends includes/base.pug

block head
    link(href="/css/index.css" rel="stylesheet")

block title
    title= 'Fabian Shallari'

block body

    - var browse_work_link = "#" + site.data.index.projects[0].title

    +fab
    //Intro
    +cover
    // Projects
    each project in site.data.index.projects
        +project_showcase(project)
    // Contact
    +contact(browse_work_link)

append scripts
    script(src="/js/index.js")