extends _layouts/base.pug

append head
    link(href="/css/index.css" rel="stylesheet")
    +social_meta_tags('Fabian Shallari - Work','Check out my projects', site.data.global.domain
    + '/images/index/home-cover.jpg')

block title
    title= 'Fabian Shallari'

block body

    - var browse_work_link = "#" + site.data.index.projects[0].title
    - var projects = site.data.index.projects

    +fab
    //Intro
    +cover
    // Projects
    each project, i in projects
        +project_showcase(project, projects[i + 1] ? projects[i + 1].title : "Contact")
    // Contact
    +contact(browse_work_link)