extends _layouts/site.pug

block header
    a(href= theme.menu.Archive).waves-effect.white.black-text.btn.btn-medium.rounded.uppercase
        | Back to blog list
        i.small.material-icons.left arrow_back

block content
    .card-panel
        .blog-post
            .blog-body
                != page.content
