mixin contact(browse_work_link)
    .section.contact-bg.full-height(id='Contact')
        .container.white-text.table.vcenter-wrapper
            .vcenter.contact-wrapper
                .row
                    .col.s12.center-on-med-and-down
                        .android-icon
                            img(src="/images/index/fabian.png")
                    .col.s12.l6.left-col.center-on-med-and-down
                        .level-1.font-light.contact-prompt
                            span Do you like what you see?
                            span Let's work together.
                            span Send me a note to:
                        br
                        a.mail-link.level-1(href="mailto:"
                        + site.data.global.info.email) #{site.data.global.info.email}
                        br
                        .hide-on-large-only
                            .section
                            .section
                    .col.s12.l6.right-col.center-on-med-and-down
                        .level-1.font-light.white-text.contact-prompt
                            span Just saying hi?
                            span Feel free to reach to any of the social networks below
                        br
                        .level-1
                            a.social-link(href="https://www.twitter.com/FabianShallari")
                                i.icon-twitter.big
                                | @FabianShallari
                        br
                        .level-1
                            a.social-link(href="https://www.github.com/FabianShallari")
                                i.icon-github.big
                                | /FabianShallari
                        br
                        .level-1
                            a.social-link(href="https://al.linkedin.com/in/fabianshallari")
                                i.icon-linkedin.big
                                | /FabianShallari
                        br
                .row
                    .col.s12.center-on-med-and-down
                        +browse_work_btn(browse_work_link)
