mixin social_meta_tags(title, summary, image)
    meta(property="og:title", content=title)
    meta(property="og:description", content=summary)
    meta(property="og:image", content=image)
    meta(property="og:url", content=url)
    meta(name="twitter:card", conent="summary_large_image")
    meta(property="og:site_name", content="fabio.codes")
    meta(property="twitter:site", content="@FabianShallari")

