doctype html
include ../_mixins/buttons.pug
include ../_mixins/contact.pug
include ../_mixins/navbar.pug
include ../_mixins/home_cover.pug
include ../_mixins/project_showcase.pug



html
    head
        block title
            title= page.title || 'Fabian Shallari'

        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- CSS
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet")
        link(href="/css/fontello.css" rel="stylesheet")
        link(href="/css/devices.min.css" rel="stylesheet")
        link(href="/css/typography.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")

        script
            include ../../source/js/analytics.js

        block head

    body
        block body

        //- Javascript
        block scripts
            script(src="https://code.jquery.com/jquery-2.1.1.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
            script(src="/js/smooth-scroll.min.js")
            script(src="/js/init.js")

