/* Global styles */
html
{
  width: 100%;
  overflow-x: hidden;
}
body{
  font-size: 16px;
  transition: all .3s ease-in-out !important;
}
a, a:hover, a:active{
  text-decoration: none !important;
  color: #444 !important;
}


h1, h2, h3, h4, h5, h6{
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1{
  display: none;
}

.carousel.carousel-slider {
  height: 100% !important;
}

.level-1, .level-2, .level-3{
  font-family: 'NewBaskervilleStd-Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-shadow: 0 0 0;
  font-weight: normal;
  line-height: 1.1;
}
.level-1{
  font-size: 1.6em;
}
.level-2{
  font-size: 1em;
}
.level-3{
  font-size: 1.5em;
}


::selection {
  background: #444;
  color: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #444;
  color: #fff; /* Gecko Browsers */
}

/* Navigation styles */

.nav, .is-sticky .nav{
  padding-bottom: 10px;
  padding-top: 10px;
}
.nav-element *{
  padding: 10px 5px;
  font-size: 1.2em;

}
.nav-text{
  display: none;
}
.nav-dropdown-container{
  display: none;
  height: 100vh;
  z-index: 999 !important;
  position: relative;
}
.nav-dropdown{
  line-height: 1;
  padding: 0;
  height: 100% !important;
}
.nav-dropdown .level-3{
  display: block;
}
.nav-dropdown li:hover{
  opacity: .7 !important;
}
.nav-dropdown__label{
  opacity: .5;
}
.nav-dropdown .level-3, .nav-dropdown__label{
  padding: 10px;
}
.nav-dropdown__first{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.nav-dropdown__last{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.nav-dropdown li{
  list-style-type: none;
}
.nav span{
  opacity: .5;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right {
  text-align: right;
}

.is-sticky{
  transition: all .3s ease-in-out !important;
}
.is-sticky .nav{
  margin: 0 auto;
  width: auto;
  z-index: 200;
  -webkit-box-shadow: 1px 15px 22px -15px rgba(0,0,0,0.19);
  -moz-box-shadow: 1px 15px 22px -15px rgba(0,0,0,0.19);
  box-shadow: 1px 15px 22px -15px rgba(0,0,0,0.19);
}

.home .nav, .home .is-sticky .nav{
  background-color: #f1f1f1;
}
.menu{
  cursor: pointer;
}
.separator{
  display: none;
}
/* Home styles */
.header-light{
  background-color: #f1f1f1;
}
.header{
  background-color: #f1f1f1;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(241, 241, 241, 1) 80.53%,rgba(239, 239, 239, 1) 94.74%,rgba(232, 232, 232, 1) 99.85%,rgba(232, 232, 232, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.8053,rgba(241, 241, 241, 1) ),color-stop(0.9474,rgba(239, 239, 239, 1) ),color-stop(0.9985,rgba(232, 232, 232, 1) ),color-stop(1,rgba(232, 232, 232, 1) ));
  background : -o-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E8E8E8' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#E8E8E8' , GradientType=0);
}
.level-1 img{
  height: 1em;
}
.header .nav *{
  color: #444;
}

.header .level-1 span{
  opacity: 0.6;
  font-size: 0.8em;
}

.draggable{
  display: none;
}

.home .list-unit .number{
  text-align: right;
}
.home .type, .name{
  line-height: 1.1;
}

.home h2{
  text-align: left;
  margin: 0;
  line-height: 1.1;
}
.thumbnail{

  display: flex;
  overflow: hidden;
}
.thumbnail img{
  align-self: flex-end;
  width: 100%;
  height: auto;
}
.projects a{
  color: #444 !important;
}
.project a:hover{
  color: #000 !important;
}
.list-title{
  font-size: 1.3em;
  opacity: .6;
  padding: 20px;
}
.list-unit .level-3, .list-unit .icon{
  padding-top: 20px;
}

.list-unit__content{
  transition: padding .3s ease-in-out !important;
  padding: 40px 0;
  width: 100%;
}
.list-unit__content .row{
  width: 100%;
}
.list-unit{
  display: flex;
}
.list-unit:hover .list-unit__content{
  padding-top: 80px;
  padding-bottom: 80px;
}
.thumbnail {
  align-self: flex-end;
}
.icon {
  width: 20px;
  float: right;
  position: relative;
  left: 20px;
}

.icon img{
  width: 100%;
}
.neutral{
  background-color: #f1f1f1;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(241, 241, 241, 1) 80.53%,rgba(239, 239, 239, 1) 94.74%,rgba(232, 232, 232, 1) 99.85%,rgba(232, 232, 232, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.8053,rgba(241, 241, 241, 1) ),color-stop(0.9474,rgba(239, 239, 239, 1) ),color-stop(0.9985,rgba(232, 232, 232, 1) ),color-stop(1,rgba(232, 232, 232, 1) ));
  background : -o-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E8E8E8' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#E8E8E8' , GradientType=0);
}
.lekur .is-sticky .nav{
  background-color: #e5e1d8;
}
.lekur{
  background-color: #d9d7cf;background : -moz-linear-gradient(50% 0% -90deg,rgba(229, 225, 216, 1) 70.67%,rgba(226, 222, 213, 1) 83.53%,rgba(217, 214, 204, 1) 92.7%,rgba(204, 201, 190, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(229, 225, 216, 1) 70.67%, rgba(226, 222, 213, 1) 83.53%, rgba(217, 214, 204, 1) 92.7%, rgba(204, 201, 190, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.7067,rgba(229, 225, 216, 1) ),color-stop(0.8353,rgba(226, 222, 213, 1) ),color-stop(0.927,rgba(217, 214, 204, 1) ),color-stop(1,rgba(204, 201, 190, 1) ));
  background : -o-linear-gradient(-90deg, rgba(229, 225, 216, 1) 70.67%, rgba(226, 222, 213, 1) 83.53%, rgba(217, 214, 204, 1) 92.7%, rgba(204, 201, 190, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(229, 225, 216, 1) 70.67%, rgba(226, 222, 213, 1) 83.53%, rgba(217, 214, 204, 1) 92.7%, rgba(204, 201, 190, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E1D8', endColorstr='#CCC9BE' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(229, 225, 216, 1) 70.67%, rgba(226, 222, 213, 1) 83.53%, rgba(217, 214, 204, 1) 92.7%, rgba(204, 201, 190, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E1D8',endColorstr='#CCC9BE' , GradientType=0);
}
.lekur-light{
  background-color: #E5E1D8;
}
.lekur-dark{
  background-color: #382929;
  color: #e5e1d8;
}
.hydropothecary .is-sticky .nav{
  background-color: #e3f2ad;
}
.hydropothecary{
  background-color: #e3f2ad;
  transition: padding .3s ease !important;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(227, 242, 173, 1) 50.67%,rgba(226, 241, 171, 1) 77.47%,rgba(222, 237, 164, 1) 87.13%,rgba(214, 230, 153, 1) 93.99%,rgba(204, 220, 136, 1) 99.52%,rgba(203, 219, 134, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(227, 242, 173, 1) 50.67%, rgba(226, 241, 171, 1) 77.47%, rgba(222, 237, 164, 1) 87.13%, rgba(214, 230, 153, 1) 93.99%, rgba(204, 220, 136, 1) 99.52%, rgba(203, 219, 134, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.5067,rgba(227, 242, 173, 1) ),color-stop(0.7747,rgba(226, 241, 171, 1) ),color-stop(0.8713,rgba(222, 237, 164, 1) ),color-stop(0.9399,rgba(214, 230, 153, 1) ),color-stop(0.9952,rgba(204, 220, 136, 1) ),color-stop(1,rgba(203, 219, 134, 1) ));
  background : -o-linear-gradient(-90deg, rgba(227, 242, 173, 1) 50.67%, rgba(226, 241, 171, 1) 77.47%, rgba(222, 237, 164, 1) 87.13%, rgba(214, 230, 153, 1) 93.99%, rgba(204, 220, 136, 1) 99.52%, rgba(203, 219, 134, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(227, 242, 173, 1) 50.67%, rgba(226, 241, 171, 1) 77.47%, rgba(222, 237, 164, 1) 87.13%, rgba(214, 230, 153, 1) 93.99%, rgba(204, 220, 136, 1) 99.52%, rgba(203, 219, 134, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3F2AD', endColorstr='#CBDB86' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(227, 242, 173, 1) 50.67%, rgba(226, 241, 171, 1) 77.47%, rgba(222, 237, 164, 1) 87.13%, rgba(214, 230, 153, 1) 93.99%, rgba(204, 220, 136, 1) 99.52%, rgba(203, 219, 134, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3F2AD',endColorstr='#CBDB86' , GradientType=0);
}
.hydropothecary-light{
  background-color: #E3F2AD;
}
.hydropothecary-dark{
  background-color: #CBDB86;
  color: #e3f2ad;
}

.pro-bono .nav, .pro-bono .is-sticky .nav{
  background-color: #e5e8f9;
}
.pro-bono{
  background-color: #e5e8f9;
  transition: padding .3s ease !important;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(229, 232, 249, 1) 50.4%,rgba(227, 230, 249, 1) 80.37%,rgba(220, 225, 247, 1) 91.15%,rgba(209, 215, 245, 1) 98.82%,rgba(206, 213, 244, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(229, 232, 249, 1) 50.4%, rgba(227, 230, 249, 1) 80.37%, rgba(220, 225, 247, 1) 91.15%, rgba(209, 215, 245, 1) 98.82%, rgba(206, 213, 244, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.504,rgba(229, 232, 249, 1) ),color-stop(0.8037,rgba(227, 230, 249, 1) ),color-stop(0.9115,rgba(220, 225, 247, 1) ),color-stop(0.9882,rgba(209, 215, 245, 1) ),color-stop(1,rgba(206, 213, 244, 1) ));
  background : -o-linear-gradient(-90deg, rgba(229, 232, 249, 1) 50.4%, rgba(227, 230, 249, 1) 80.37%, rgba(220, 225, 247, 1) 91.15%, rgba(209, 215, 245, 1) 98.82%, rgba(206, 213, 244, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(229, 232, 249, 1) 50.4%, rgba(227, 230, 249, 1) 80.37%, rgba(220, 225, 247, 1) 91.15%, rgba(209, 215, 245, 1) 98.82%, rgba(206, 213, 244, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E8F9', endColorstr='#CED5F4' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(229, 232, 249, 1) 50.4%, rgba(227, 230, 249, 1) 80.37%, rgba(220, 225, 247, 1) 91.15%, rgba(209, 215, 245, 1) 98.82%, rgba(206, 213, 244, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E8F9',endColorstr='#CED5F4' , GradientType=0);
}
.pro-bono-light{
  background-color: #E5E8F9;
}
.pro-bono-dark{
  background-color: #2526db;
  color: #e5e8f9;
}
.charlie .nav, .charlie .is-sticky .nav{
  background-color: #aaf7c0;
}
.charlie{
  background-color: #9AE65E;
  fill: #9AE65E;
  /* Rectangle 2: */
  /* Rectangle 2: */
  background-image: linear-gradient(-180deg, #9AE65E 74%, #76D363 100%);
}
.charlie-light{
  background-color: #9AE65E;
}
.charlie-dark{
  background-color: #76D363;
  color: #aaf7c0;
}
.suzy-q .is-sticky .nav{
  background-color: #f1f0e4;
}
.suzy-q{
  background-color: #f1f0e4;
  transition: padding .3s ease !important;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(241, 240, 228, 1) 50.4%,rgba(239, 238, 226, 1) 80.64%,rgba(232, 231, 221, 1) 91.52%,rgba(221, 220, 210, 1) 99.26%,rgba(219, 218, 209, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(241, 240, 228, 1) 50.4%, rgba(239, 238, 226, 1) 80.64%, rgba(232, 231, 221, 1) 91.52%, rgba(221, 220, 210, 1) 99.26%, rgba(219, 218, 209, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.504,rgba(241, 240, 228, 1) ),color-stop(0.8064,rgba(239, 238, 226, 1) ),color-stop(0.9152,rgba(232, 231, 221, 1) ),color-stop(0.9926,rgba(221, 220, 210, 1) ),color-stop(1,rgba(219, 218, 209, 1) ));
  background : -o-linear-gradient(-90deg, rgba(241, 240, 228, 1) 50.4%, rgba(239, 238, 226, 1) 80.64%, rgba(232, 231, 221, 1) 91.52%, rgba(221, 220, 210, 1) 99.26%, rgba(219, 218, 209, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(241, 240, 228, 1) 50.4%, rgba(239, 238, 226, 1) 80.64%, rgba(232, 231, 221, 1) 91.52%, rgba(221, 220, 210, 1) 99.26%, rgba(219, 218, 209, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F0E4', endColorstr='#DBDAD1' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(241, 240, 228, 1) 50.4%, rgba(239, 238, 226, 1) 80.64%, rgba(232, 231, 221, 1) 91.52%, rgba(221, 220, 210, 1) 99.26%, rgba(219, 218, 209, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F0E4',endColorstr='#DBDAD1' , GradientType=0);


}
.suzy-q-light{
  background-color: #F1F0E4;
}
.suzy-q-dark{
  background-color: #F26739;
  color: #fff;
}
.clients .list-unit{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(241, 241, 241, 1) 80.53%,rgba(239, 239, 239, 1) 94.74%,rgba(232, 232, 232, 1) 99.85%,rgba(232, 232, 232, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.8053,rgba(241, 241, 241, 1) ),color-stop(0.9474,rgba(239, 239, 239, 1) ),color-stop(0.9985,rgba(232, 232, 232, 1) ),color-stop(1,rgba(232, 232, 232, 1) ));
  background : -o-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E8E8E8' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(241, 241, 241, 1) 80.53%, rgba(239, 239, 239, 1) 94.74%, rgba(232, 232, 232, 1) 99.85%, rgba(232, 232, 232, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#E8E8E8' , GradientType=0);
}
.articles .list-unit{
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  transition: background-color .3s ease-in-out !important;
}
.articles .list-unit:hover{
  background-color: #f1f1f1;
}
.articles .list-unit__last{
  border-bottom: 1px solid #f1f1f1;
}
.contact a{
  border-bottom: 1px solid #444 !important;
  border-bottom: none;
  padding-bottom: 0 !important;
}
.contact a:hover, .contact a:active{
  color: #FB6355;
  text-decoration: none;
  border-bottom: 4px solid #FB6355 !important;
  padding-bottom: 0 !important;
}
.button{
  display: inline-block;
  margin-top: 20px !important;
  padding: 10px 20px;
  border-radius: 30px;
}
.button:hover{
  opacity: 0.6;
}
.button-light{
  background-color: #fff;
}
.button-dark{

}
form, form *{
  -webkit-appearance: none;
}
.form label, input, select{
  clear: right;
  display: block;
  width: 100%;
}
.form input{
  -webkit-appearance: none !important;
  -moz-appearance:    none !important;
  appearance:         none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #444;
  margin-bottom: 40px;
  padding-top: 10px;
  height: 44px;
  font-family: 'NewBaskervilleStd-Roman', Times, serif;
  font-weight: normal;
  font-size: 1.6em;
}
.form input:focus{
  border-bottom: 1px solid #000;
  outline: none;
}
.form select{
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #444;
  margin: 10px 0 40px;
  padding: 5px 10px;
  height: 44px;
  font-family: 'NewBaskervilleStd-Roman', Times, serif;
  font-weight: normal;
  font-size: 1.6em;
}
.form button{
  clear: right;
  display: block;
  width: auto;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  transition: height .3s ease-in-out !important;
  height: 60px;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(251, 99, 85, 1) 0%,rgba(250, 97, 84, 1) 60.96%,rgba(246, 90, 82, 1) 82.9%,rgba(240, 79, 78, 1) 98.5%,rgba(239, 77, 77, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(251, 99, 85, 1) ),color-stop(0.6096,rgba(250, 97, 84, 1) ),color-stop(0.829,rgba(246, 90, 82, 1) ),color-stop(0.985,rgba(240, 79, 78, 1) ),color-stop(1,rgba(239, 77, 77, 1) ));
  background : -o-linear-gradient(-90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB6355', endColorstr='#EF4D4D' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB6355',endColorstr='#EF4D4D' , GradientType=0);
  background-color: #FB6355;
  border: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 40px;
}
.form button:focus{
  outline: none;
}
.form button:hover{
  height: 80px;
}
.form button:active{
  background : -moz-linear-gradient(50% 100% 90deg,rgba(251, 99, 85, 1) 0%,rgba(250, 97, 84, 1) 60.96%,rgba(246, 90, 82, 1) 82.9%,rgba(240, 79, 78, 1) 98.5%,rgba(239, 77, 77, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(251, 99, 85, 1) ),color-stop(0.6096,rgba(250, 97, 84, 1) ),color-stop(0.829,rgba(246, 90, 82, 1) ),color-stop(0.985,rgba(240, 79, 78, 1) ),color-stop(1,rgba(239, 77, 77, 1) ));
  background : -o-linear-gradient(90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB6355', endColorstr='#EF4D4D' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(251, 99, 85, 1) 0%, rgba(250, 97, 84, 1) 60.96%, rgba(246, 90, 82, 1) 82.9%, rgba(240, 79, 78, 1) 98.5%, rgba(239, 77, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF4D4D',endColorstr='#FB6355' , GradientType=0);

}
.form button img{
  padding-right: 10px;
}
.footer{
  background-color: #f1f1f1;
}

.contact .level-1{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.form{
  padding-bottom: 1em;
}
label .notify, .notify__error{
  color: #ed1c24;
  opacity: .7;
  display: inline;
}
.footer{
  padding-bottom: 2em;
  padding-top: 1em;
  margin-top: 1em;
}

.clients .level-3{
  margin: 0;
  padding: .5em 0 .5em .5em;
}
.clients .list-unit{
  padding: 1em 0;
}
/*Project Pages*/

.project-page .number{
  text-align: left !important;
  padding: 0 !important;
}
.project-page .more{
  line-height: 1.1;
}
.project-page .sticky-wrapper{
  margin-bottom: 0px;
}
.project-page .level-2{
  opacity: .5;
}
.project-content{
  padding-top: 30px;
}
.project-content__module{
  padding: 20px;
}
.quote{
  opacity: .5;
}
.quote__symbol{
  font-size: 120px;
  font-family: 'NewBaskervilleStd-Roman', Times, serif;
  height: 80px;
}
.quote__line{
  line-height: 1;
}
.quote__author{
  text-align: right;
}
.separator__svg{
  height: 41px;
}
.separator *{
  height: 41px;
}
.header-project{
  padding-bottom: 30px;
}
.project-page .header-project__image{
  display: flex;
}
.project-page .header-project__image img{
  width: 100%;
  align-self: flex-end;
}
.project-page .header{
  padding-top: 20px;
}

.project-page .header .level-1{
  padding-top: 1em;
}
.project-content a{
  text-decoration: underline !important;
}
.sticky-wrapper{
  height: 50px !important;
  z-index: 999 !important;
  position: relative;
}
.red{
  text-align: center;
  padding-top: 20px;
}


@media (min-width: 768px) {
  .nav span{
    opacity: .5;
  }
  .nav-element *{
    padding: 10px 5px;
    font-size: 1em;
  }
  .nav-text{
    display: inline-block;
  }
  .nav, .is-sticky .nav{
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .sticky-wrapper{
    height: 80px;
  }
  .project-page .header{
    padding-top: 60px;
  }
  .level-1{
    font-size: 2em;
  }
  .level-2{
    font-size: 1.2em;
  }
  .level-3{
    font-size: 1.2em;
  }
  .nav-dropdown .level-3{
    font-size: 2em;
  }
  .list-unit .level-3, .list-unit .icon{
    padding-top: 20px;
  }
  .list-unit__first{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .list-unit__last{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .icon{
    width: 40px;
    left: 0;
  }
  .home .header .level-1, .home .header p, .header-project__content{
    padding: 20px 40px 0 0;
  }
  .header .level-1 span{
    opacity: 0.6;
  }
  .list-unit .level-3, .list-unit .icon{
    padding-top: 0;
  }

}
@media (min-width: 992px) {
  .nav-dropdown-container{
    padding: 0 30px;
  }
  .separator{
    display: block;
  }
  .header-project{
    padding-bottom: 0;
  }
  .nav-dropdown .level-3, .nav-dropdown__label{
    padding: 10px;
  }

  .clients .level-3{
    margin: 0;
    padding: 10px 0 5px 60px;
  }
  .clients .list-unit{
    padding: 50px 0;
  }
  .level-1{
    font-size: 3.3em;
  }
  .level-2{
    font-size: 1.4em;
  }
  .level-3{
    font-size: 1.8em;
  }
  .project-page .header{
    padding-top: 120px;
  }
  .home .header .level-1, .home .header p, .header-project__content{
    padding: 20px 0 0 0;
  }
  .draggable{
    display: block;
  }
  .draggable-1{
    z-index: 100;
    top: 132px;
  }
  .draggable-2{
    z-index: 100;
    top: -10px;
    left: 120px;
  }
  .list-title{
    padding: 60px 60px 40px;
  }
  .separator {
    padding-top: 60px;
  }
  .contact{
    padding-top: 60px;
  }
  .contact .level-1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .form{
    padding-bottom: 60px;
  }
  .footer{
    padding-bottom: 200px;
    padding-top: 100px;
    margin-top: 100px;
  }
  .project-content__module{
    padding: 120px 120px 60px 60px;
  }


}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .nav-dropdown .level-3, .nav-dropdown__label{
    padding: 10px;
  }
  .nav-dropdown .level-3{
    font-size: 2.4em;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
  body{
    font-size: 18px;
  }
}
@media (min-width: 1600px) {

  .container {
    width: 1600px;
  }
  .home .header .level-1{
    margin-top: 120px;
  }
  .project-page .header .level-1{
    padding-top: 2em;
  }
}